* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

body {
    background: #e8e6e7;
}

header {
    width: 100%;
    padding: 20px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1d1d1f;
    z-index: 11;

}

.header-logo {
    width: 50px;
    height: auto;


}


.navList ul {
    display: flex;
    gap: 60px;
    color: white;
    align-items: center;
}

.navList a {
    color: #888;
    font-weight: 600;
    padding-bottom: 4px;
    transition: all 0.3s ease-in-out;
}

.navList a:hover {
    color: #ffffff;
    border-bottom: 1px solid white;
}

.navList ul li:nth-child(3) a {
    color: white;
    border-bottom: 1px solid white;
}

/* Main/ Hero */

main .hero {
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 10rem;
    width: 100vw;
    height: auto;

}

main .hero-text {
    width: 390px;
    margin-bottom: 3vh;

}

main .hero-text {
    margin-left: 5px;
}

main .hero-text h1 {

    font-size: 36px;
    margin-bottom: 2rem;
}

main .hero-text p {
    margin-bottom: 1.5rem;
}

main .hero-text h6 {
    color: #646363;
    font-size: 1rem;
    margin-bottom: 2rem;
}

main .hero-text img {
    width: 100%;
}

main .btn-comprar {
    padding: 10px 25px;
    background: #5d23e4;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.hero-img img {
    transition: all 1s ease-in-out;
    z-index: 100;
    width: 400px;
    transform: rotate(-7deg);


}

main .btn-comprar:hover {
    background-color: rgb(55, 6, 190);
    transform: scale(1.1);
}

main .container-button button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

main .container-button button:hover {
    transform: scale(1.1);
}

/* cores buttons */
.btn-green {
    background: #384937;
}

.btn-pink {
    background: #f8ddd6;
}

.btn-blue {
    background: #225f7e;
}

.btn-black {
    background: #192028;
}

.btn-white {
    background: #f7f2ee;
}

.btn-red {
    background: #ae0617;
}

.circle {
    position: absolute;
    width: 45%;
    height: 40vw;
    right: 40px;
    bottom: -130px;
    background: #668064;
    border-radius: 100% 100% 100% 100%
}

.circle.Green {
    position: absolute;
    width: 45%;
    height: 40vw;
    right: 40px;
    bottom: -130px;
    background: #668064;
    border-radius: 100% 100% 100% 100%
}

.circle.Pink {
    position: absolute;
    width: 45%;
    height: 40vw;
    right: 40px;
    bottom: -130px;
    background: rgb(229, 194, 229);
    border-radius: 100% 100% 100% 100%
}

.circle.Blue {
    position: absolute;
    width: 45%;
    height: 40vw;
    right: 40px;
    bottom: -130px;
    background: #6b94a7;
    border-radius: 100% 100% 100% 100%
}

.circle.Black {
    position: absolute;
    width: 45%;
    height: 40vw;
    right: 40px;
    bottom: -130px;
    background: #373d42;
    border-radius: 100% 100% 100% 100%
}

.circle.White {
    position: absolute;
    width: 45%;
    height: 40vw;
    right: 40px;
    bottom: -130px;
    background: #bebfc0;
    border-radius: 100% 100% 100% 100%
}

.circle.Red {
    position: absolute;
    width: 45%;
    height: 40vw;
    right: 40px;
    bottom: -130px;
    background: #9b4f58;
    border-radius: 100% 100% 100% 100%
}

.hidden {
    display: none;
}